@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Poppins');



.main_style_10 {
	margin: 25px auto;
	width: 300px;
	height: 450px;
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.round9 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url(../static/Image/patient.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 15px;
}

.hd7 {
	padding-top: 5px;
	font-size: 20px;
	color: #4e5f6f;
}

.p8 {
	font-size: 14px;
	padding-left: 10px;
	text-align: center;
	padding-right: 10px;
	color: #4e5f6f;
	margin-bottom: 0px;
}

.brdr_btm {
	border-bottom: #F0F0F0 1px solid;
}

#contact i {
	font-size: 16px;
}

#contact p {
	font-size: 14px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.snd {
	background-color: RGB(150,164,139);
	border: 1px solid RGB(150,164,139);
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	padding: 5px 55px 5px 55px;
	margin-top: 13px;
	transition: ease-out 0.5s all;
}

.snd:hover {
	background-color: #8995A5;
	transition: ease-in 0.5s all;
}

#contact:hover {
	background-color: #E0EEFF;
	transition: ease-in-out 0.2s all;
}

/*//profile10//*/
#main-body {
	background-color:#b7cbd4 !important;
}

a:hover{ text-decoration:none !important; }