body{
  background: RGB(233,236,243);
}

/*header*/
.logo{
  text-align: center;
}
.logo-image{
  height: 50px;
  margin: 0px 20px;
}

.header{
  background: RGB(59,63,81);
  height: 60px;
  padding: 5px;
}

.header-font{
  color: RGB(140,149,165);
  font-size: 20px;
  margin: 10px 0px;
}

.doctor-avatar{
  height: 50px;
  width: 50px;
}

.doctor-avatar-image{
  height: 50px;
  border-radius: 100px;
}

/*nav*/
nav{
  padding: 40px;
}

.nav-list{
  background: RGB(255,255,255);
}

.nav-item{
  padding: 15px 20px;
  color: RGB(140,149,165);
}

.nav-title{
  margin-top: 15px;
  padding: 15px 20px;
}

.nav-item-icon{
  padding: 0px 15px;
  color: RGB(140,149,165);
}

.on-focus{
  color: RGB(92, 154,207);
  background: RGB(242,246,249);
}

/*form*/
.input-label {
   color: RGB(51,51,51);
   font-size: 10px;
   /*clear the margin of the browser agent*/
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
}

input[type="text"]{
    border: RGB(194,202,216) solid 1.5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

textarea{
    border: RGB(194,202,216) solid 1.5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.form-associate-button{
    background: RGB(225,229,236) !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    border:transparent !important;
    color: RGB(102, 102, 102) !important;
    font-size: 15px !important;
}

input[type="submit"], input[type="button"]{
    background: RGB(50,197,210);
    margin-top: 20px;
    margin-bottom: 10px;
    border:transparent;
    color: RGB(255, 255, 255);
    font-size: 15px;
}

.form-input-box{
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.tab-item, .hide{
           display: none;
       }

.show{
    display: block;
}
/*home*/
.notice-board-header{
  margin-top: 40px;
  width: 100%;
  background-color: RGB(63,171,164);
  padding: 10px;
  color: RGB(255,255,255);
  margin-right: 40px;
  margin-left: -30px;
}

.notice-board-header-title{
  font-size: 20px;
}

.notice-board-header-content{
  font-size: 10px;
}
.notification-select{
  margin-right: 40px;
  margin-left: -30px;
}
.notice-board-content{
  margin-left: -30px;
  margin-top: 30px;
}

.notice-number-circle{
  width: 50px;
  height: 50px;
  /*background: RGB(63,171,164);*/
  border-radius: 100px;
  border-color: RGB(38,195,144);
  border-style: solid;
}

.notice-number{
  margin: auto auto;
  text-align: center;
  color: RGB(38,195,144);
  font-size: 25px;
}

.notice-title{
  color: RGB(52,73,94);
}

.notice-content{
  color: RGB(0,0,0);
  margin-top: -16px;
}

.set-date{
  color: RGB(80,122,194);
}

.due-date{
  color: RGB(231,61,74);
}

.main-content{
  background: RGB(255,255,255);
    margin: 40px 30px 30px -30px;
    padding: 10px 0px 10px 10px;
}

.main-content-associate{
    margin-top: 20px;
}

.select-box{
    padding: 0px;
}

select{
    width: 100%;
    height: 40px;
    border: solid RGB(194,157,11);
    color: RGB(194,157,11);
}

.main-content-title{
    color: RGB(228,58,69);
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
    border-bottom-color: RGB(225,232,238);
}

.main-content-title-associate{
    color: RGB(50,197,210);
}

.main-content-add{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-button{
    background: RGB(50,197,210);
    color: RGB(255,255,255);
    border: transparent;
    padding: 5px 10px;
    border-radius: 5px;
}

.main-content-list{
    padding: 10px 30px;
}

.main-content-form{
    padding: 30px 30px 20px 30px;
}

table{
    width: 100%;
    border: solid RGB(231,246,241);
}

tr{
    border-bottom: solid RGB(231,246,241) 2px;
}

th{
    font-weight: bold;
}

td,th{
    padding-top: 5px;
    padding-bottom: 5px;
}

table tr:nth-child(odd){
 background: RGB(251,252,253);
}

.view-button{
    border: transparent;
    background: transparent;
    color: RGB(50,197,210);
    border-radius: 5px;
}

/*account*/
/*header*/
.account-header{
  border-bottom: solid 1px;
  border-bottom-color: RGB(225,232,238);
  text-align: center;
}
.account-header-item{
  margin: 5px 0px;
  color: RGB(115,115,115);
}

.account-header-item-focus{
  color: RGB(51,51,51);
}

/*account nav*/
.account-focus{
  width: 100%;
  height: 3px;
  /*background: #1b1e21;*/
}

.account-focus-on{
  background: RGB(54,198,221);
}

.account-nav{
  margin-top: 30px;
}

.account-nav-item{
  background: RGB(240,246,250);
  padding: 5px;
  margin-top: 5px;
  color: RGB(85,115,137);
}

.account-nav-item-icon{
  padding: 0px 15px;
}

.account-nav-item-focus{
  background: RGB(22,158,244);
  color: RGB(255,255,255);
}

/*account personal info*/
.account-content-personal-info{
  padding: 25px 30px 10px 0px;
}

.doctor-overview-avatar{
    padding: 20px;
}
.doctor-overview-avatar-image{
    width: 100%;
}

.doctor-details{
    padding-top: 20px;
}

.doctor-details-name{
    padding-top: 10px;
    padding-bottom: 10px;
    color: RGB(50,197,210);
    font-weight: bold;
    font-size: 30px;
}

.doctor-details-degree, .doctor-details-exp, .doctor-details-phone{
    color: RGB(99,99,99);
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.doctor-details-email{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    color: RGB(22,161,246);
}

.doctor-patients{
    padding-top: 15px;
    padding-bottom: 10px;
}

.doctor-details-tab{
    margin-top: 20px;
    padding-right: 30px;
}

/*bio content*/
.BIO-content{
    height: 100px;
}

.BIO-content-title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.BIO-content-description{
    font-size: 15px;
    text-align: center;
}

.BIO-content-text-1{
    color: RGB(149,165,166)
}

.BIO-content-text-2{
    color: RGB(231,80,90);
}

.BIO-content-text-3{
    color: RGB(38,194,129);
}

.BIO-content-text{
    margin-top: 30px;
}

.patient-avatar-image{
    width: 100%;
}

.patient-avatar{
    text-align: center;
}

.patient-avatar-title{
    padding: 10px 0px 0px 0px;
    color: RGB(90,115,157);
    font-weight: bold;
}

.patient-activity-title{
    color: RGB(87,142,190);
    padding-left: 0px;
}

.total-reading{
    text-align: right;
}

.reading-title{
    color: RGB(184,195,199);
    font-size: 10px;
}

.reading-content{
    font-size: 40px;
}

.total-reading-content{
    color: RGB(39,164,176);
}

.recommended-reading-content{
    color: RGB(231,61,74);
}

.total-reading, .recommended-reading{
    margin-top: 40px;
}

.active-tag{
    background: RGB(92,184,92);
    color: RGB(255,255,255);
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.not-active-tag{
    background: RGB(240,173,78);
}

/*empty box*/
.main-content-empty-box{
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}