<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CareMe - Account</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<div class="header">
    <div class="row">
        <div class="col-md-2">
            <div class="logo">
                <img class="logo-image" src="/static/image/logo.png">
            </div>

        </div>
        <div class="col-md-1">
            <div class="header-font">
                <span class="fa fa-bars"></span>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-1">
            <div class="header-font">
                <span class="fa fa-search"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="header-font">
                <p>Doctor</p>
            </div>
        </div>
        <div class="col-md-1">
            <a href="/account">
                <div class="doctor-avatar">
                    <img class="doctor-avatar-image" src="/static/image/avatar.jpg">
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <nav>
            <div class="nav-list">
                <a href="/home">
                    <div class="nav-item on-focus">
                        <span class="fa fa-home nav-item-icon on-focus"></span>
                        <span>Home</span>
                    </div>
                </a>
                <div class="nav-title">
                    <span>FEATURES</span>
                </div>
                <a href="/add-patient">
                    <div class="nav-item">
                        <span class="fa fa-user-o nav-item-icon"></span>
                        <span>Add Patient</span>
                    </div>
                </a>
                <a href="/patient-list">
                    <div class="nav-item">
                        <span class="fa fa-list nav-item-icon"></span>
                        <span>Patient List</span>
                    </div>
                </a>
                <a href="/schedule/">
                    <div class="nav-item">
                        <span class="fa fa-calendar nav-item-icon"></span>
                        <span>Schedule</span>
                    </div>
                </a>
                <a href="/reading">
                    <div class="nav-item">
                        <span class="fa fa-line-chart nav-item-icon"></span>
                        <span>Readings</span>
                    </div>
                </a>
                <a href="/add-notice">
                    <div class="nav-item">
                        <span class="fa fa-map-pin nav-item-icon"></span>
                        <span>Patient Notice</span>
                    </div>
                </a>
                <div class="nav-title">
                    <span>GENERAL</span>
                </div>
                <a href="/notice-board">
                    <div class="nav-item">
                        <span class="fa fa-pencil-square-o nav-item-icon"></span>
                        <span>Notice Board</span>
                    </div>
                </a>
                <a href="/">
                    <div class="nav-item">
                        <span class="fa fa-sign-out nav-item-icon"></span>
                        <span>Logout</span>
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="main-content">
            <div class="account-header">
                <div class="row">
                    <div class="col-md-2">
                        <p class="account-header-item account-header-item-focus" id="overviewTab">Overview</p>
                        <div class="account-focus account-focus-on"></div>
                    </div>
                    <div class="col-md-2">
                        <p class="account-header-item" id="accountTab">Account</p>
                        <div class="account-focus"></div>
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </div>
            <div class="account-content-main tab-item" id="accountContent">
                <div class="row">
                    <div class="col-md-3">
                        <div class="account-nav">
                            <div class="account-nav-item account-nav-item-focus">
                                <span class="fa fa-pencil account-nav-item-icon"></span>
                                <span>Personal Info</span>
                            </div>
                            <div class="account-nav-item">
                                <span class="fa fa-image account-nav-item-icon"></span>
                                <span>Change Avatar</span>
                            </div>
                            <div class="account-nav-item">
                                <span class="fa fa-lock account-nav-item-icon"></span>
                                <span>Change Password</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="account-content-personal-info">
                            <div class="account-content-personal-info-form">
                                <form th:object = "${currentUser}" th:action = "@{'/doctor/editDoctor/'+${currentUser.doctorId}}" method="post">
                                    <div class="form-input-box">
                                        <p class="input-label">First Name*</p>
                                        <input type="text" placeholder="First Name" name="firstName" maxlength="20"
                                               required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                    </div>
                                    <div class="form-input-box">
                                        <p class="input-label">Last Name*</p>
                                        <input type="text" placeholder="Last Name" name="lastName" maxlength="20"
                                               required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                    </div>
                                    <div class="form-input-box">
                                        <p class="input-label">Brief Introduction*</p>
                                        <textarea rows="3" type="text" placeholder="Brief Introduction" name="briefIntroduction" maxlength="140"
                                                  required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');"></textarea>
                                    </div>
                                    <div class="form-input-box">
                                        <p class="input-label">Specialization*</p>
                                        <input type="text" placeholder="Specialization" name="specialization" maxlength="140"
                                               required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                    </div>
                                    <div class="form-input-box">
                                        <p class="input-label">Phone Number*</p>
                                        <input type="text" placeholder="Phone Number" name="phoneNumber" maxlength="20"
                                               required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                    </div>
                                    <div class="form-input-box">
                                        <p class="input-label">
                                            Email*(This is your username)
                                        </p>
                                        <input type="text" placeholder="Email" name="email" maxlength="50"
                                               required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                    </div>
                                    <div class="form-input-box">
                                        <p class="input-label">
                                            Password*
                                        </p>
                                        <input type="password" placeholder="Password" name="password" maxlength="20"
                                               required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-input-box">
                                                <p class="input-label">
                                                    Date of Birth*
                                                </p>
                                                <input type="datetime" name="dateOfBirth" placeholder="YYYY/MM/DD"
                                                       required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-input-box">
                                                <p class="input-label">
                                                    Start Date Of Career*
                                                </p>
                                                <input type="datetime" name="startOfCareer" placeholder="YYYY/MM/DD"
                                                       required oninvalid="setCustomValidity('This field is required');" οninput="setCustomValidity('');">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" value="Confirm Edit">
                                    <input class="form-associate-button" type="button" value="Reset">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-overview tab-item show" id="overviewContent">
                <div class="row">
                    <div class="col-md-3">
                        <div class="doctor-overview-avatar">
                            <img class="doctor-overview-avatar-image" src="/static/image/avatar.jpg">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="doctor-details">
                            <div class="doctor-details-name">
                                <span th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></span>
                            </div>
                            <div class="doctor-details-degree">
                                <p th:text="${'Intro: '+currentUser.briefIntroduction}"></p>
                                <p th:text="${'Specialization: '+currentUser.specialization}"></p>
                            </div>
                            <div class="doctor-details-email">
                                <a href="${currentUser.email}">
                                    <span class="fa fa-envelope-o"></span>
                                    <span th:text="${currentUser.email}"></span>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="doctor-details-phone">
                                        <span class="fa fa-phone"></span>
                                        <span th:text="${currentUser.phoneNumber}"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="doctor-details-exp">
                                        <span class="fa fa-flag-o"></span>
                                        <span>6 years of experience</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-details-tab">
                            <div class="account-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="account-header-item account-header-item-focus">Doctor's Patients</p>
                                        <div class="account-focus account-focus-on"></div>
                                    </div>
                                    <div class="col-md-8"></div>
                                </div>
                            </div>
                            <div class="doctor-patients">
                                <table id="patient-list">
                                    <tr>
                                        <th>
                                            <span class="fa fa-address-book"></span>
                                            <span>Name</span>
                                        </th>
                                        <th>
                                            <span class="fa fa-envelope-square"></span>
                                            <span>Email</span>
                                        </th>
                                        <th>
                                            <span class="fa fa-pencil-square"></span>
                                            <span>Registration ID</span>
                                        </th>
                                        <th>
                                            <span class="fa fa-share-alt-square"></span>
                                            <span>View</span>
                                        </th>
                                    </tr>
                                    <tr th:each="patient:${currentUserPatients}">
                                        <td th:text="${patient.firstName + ' ' + patient.lastName}">
                                        <td th:text="${patient.email}"></td>
                                        <td>
                                            <span th:text="${patient.patientId}"></span>
                                            <span th:if="${patient.status} eq 'Active'">
                                            <div class="active-tag" th:text="${patient.status}"></div>
                                        </span>
                                            <span th:if="${patient.status} eq 'Pending'">
                                            <div class="pending-tag" th:text="${patient.status}"></div>
                                        </span>
                                            <span th:if="${patient.status} eq 'Deactive'">
                                            <div class="deactive-tag" th:text="${patient.status}"></div>
                                        </span>
                                        </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript">
       var overviewTab = $("#overviewTab");
       var accountTab = $("#accountTab");
       var overviewContent = $("#overviewContent");
       var accountContent = $("#accountContent");
       //click tab2
       overviewTab.click(function(){
           // 修改tab标签样式
           $(this).attr("class","account-header-item account-header-item-focus");
           $(this).siblings().attr("class","account-focus account-focus-on");
           accountTab.attr("class", "account-header-item");
           accountTab.siblings().attr("class","account-focus");
           overviewContent.attr("class", "account-content-main tab-item show");
           accountContent.attr("class", "account-content-main tab-item");
       })

       //click tab1
       accountTab.click(function(){
           // 修改tab标签样式

           $(this).attr("class","account-header-item account-header-item-focus");
           $(this).siblings().attr("class","account-focus account-focus-on");
           overviewTab.attr("class", "account-header-item");
           overviewTab.siblings().attr("class","account-focus");
           accountContent.attr("class", "account-content-main tab-item show");
           overviewContent.attr("class", "account-content-main tab-item");
       })

   </script>
</body>
</html>