<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Add Patient Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,700&amp;display=swap'>
    <link rel="stylesheet" href="../static/style.css">
<!--    <link rel="stylesheet" type="text/css" href="/static/mdialog.css">-->

</head>
<body>
<form autocomplete="off" method="post" action="/addPatients">
    <div id="focus"></div>
    <h1>Patients info</h1>
    <input type="text" half placeholder="First name" name="FirstName" autocomplete="no">
    <input type="text" half placeholder="Last name" name = "LastName" autocomplete="no">
    <input type="radio" name="Gender" value="Female">Female
    <input type="radio" name="Gender" value="Male">Male
    <input type="date" name="DOB">
    <input type="text"  half placeholder="Age" name="Age">
    <input type="text" placeholder="Address" name="Address" autocomplete="no">
    <input type="text" half placeholder="Phone Number" name="PhoneNumber" autocomplete="no">
    <input type="text" placeholder="Mail" name="Mail" autocomplete="no">
    <select name="Disease">
        <option value="Sepsis">Sepsis</option>
        <option value="Sleep apnea">Sleep apnea</option>
        <option value="Hypotension">Hypotension</option>
    </select>
    <input type="submit" id="success" value="Confirm">
</form>
<script src='../static/jquery.min.js'></script>
<script  src="../static/script.js"></script>
<!--<script type="text/javascript" src="/static/zepto.min.js"></script>-->
<!--<script type="text/javascript" src="/static/mdialog.js"></script>-->
<!--<script type="text/javascript">-->
<!--    //success-->
<!--    $("#success").click(function(){-->
<!--        new TipBox({type:'success',str:'Success',hasBtn:true});-->
<!--    });-->
<!--</script>-->