<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CareMe - Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/image/icon.png" type="image/x-icon">
</head>
<body>

<div class="header">
    <div class="row">
        <div class="col-md-2">
            <div class="logo">
                <img src="/static/image/logo.png" class="logo-image">
            </div>

        </div>
        <div class="col-md-1">
            <div class="header-font">
                <span class="fa fa-bars"></span>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-1">
            <div class="header-font">
                <span class="fa fa-search"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="header-font">
                <p>Patient</p>
            </div>
        </div>
        <div class="col-md-1">
                <div class="doctor-avatar">
                <img src="/static/image/patient.jpg" class="doctor-avatar-image">
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <nav>
            <div class="nav-list">
                <a href="/patient-home">
                    <div class="nav-item on-focus">
                    <span class="fa fa-home nav-item-icon on-focus"></span>
                    <span>Home</span>
                    </div>
                </a>
                <div class="nav-title">
                    <span>FEATURES</span>
                </div>
                <a href="/add-family-member">
                    <div class="nav-item">
                    <span class="fa fa-user-o nav-item-icon"></span>
                    <span>Add A Family Member</span>
                    </div>
                </a>
                <a href="/my-family-member">
                    <div class="nav-item">
                    <span class="fa fa-list nav-item-icon"></span>
                    <span>My Family Members</span>
                    </div>
                </a>
                <a href="/reading/submit-vital-signs">
                    <div class="nav-item">
                    <span class="fa fa-calendar nav-item-icon"></span>
                    <span>Submit My Vital Signs</span>
                    </div>
                </a>
                <a href="/reading/my-vital-signs">
                    <div class="nav-item">
                    <span class="fa fa-line-chart nav-item-icon"></span>
                    <span>My Vital Signs</span>
                    </div>
                </a>
                <a href="/notification/my-notification">
                    <div class="nav-item">
                    <span class="fa fa-pencil-square-o nav-item-icon"></span>
                    <span>Notice Board</span>
                    </div>
                </a>
                <a href="/">
                    <div class="nav-item">
                    <span class="fa fa-sign-out nav-item-icon"></span>
                    <span>Logout</span>
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="main-content" th:if = ${selectedPatient}>
            <div class="row">
                <div class="col-md-3">
                    <div class="patient-avatar">
                        <img class="patient-avatar-image" src="/static/image/patient.jpg">
                        <div class="patient-avatar-title">
                            <span th:text="${selectedPatient.firstName + ' ' + selectedPatient.lastName}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="patient-activity">
                        <div class="main-content-title patient-activity-title">
                            <span>Patient's Info</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="total-reading">
                                <div class="reading-title">
                                    <span>Diseases</span>
                                </div>
                                <div class="reading-content total-reading-content">
                                    <span th:text="${selectedPatient.disease}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="recommended-reading">
                                <div class="reading-title">
                                    <span>Recommended Reading/Day</span>
                                </div>
                                <div class="reading-content recommended-reading-content">
                                    <span th:text="${selectedPatient.schedule}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>