<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CareMe - Schedule</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/image/icon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<!--header-->
<div class="header">
    <div class="row">
        <div class="col-md-2">
            <div class="logo">
                <img class="logo-image" src="/static/image/logo.png">
            </div>

        </div>
        <div class="col-md-1">
            <div class="header-font">
                <span class="fa fa-bars"></span>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-1">
            <div class="header-font">
                <span class="fa fa-search"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="header-font">
                <p>Doctor</p>
            </div>
        </div>
        <div class="col-md-1">
            <a href="/account">
                <div class="doctor-avatar">
                    <img class="doctor-avatar-image" src="/static/image/avatar.jpg">
                </div>
            </a>
        </div>
    </div>
</div>
<!--end of header-->
<div class="row">
    <!--left-side navigation bar-->
    <div class="col-md-3">
        <nav>
            <div class="nav-list">
                <a href="/doctor-home">
                    <div class="nav-item ">
                        <span class="fa fa-home nav-item-icon"></span>
                        <span>Home</span>
                    </div>
                </a>
                <div class="nav-title">
                    <span>FEATURES</span>
                </div>
                <a href="/add-patient">
                    <div class="nav-item">
                        <span class="fa fa-user-o nav-item-icon"></span>
                        <span>Add Patient</span>
                    </div>
                </a>
                <a href="/patient-list">
                    <div class="nav-item">
                        <span class="fa fa-list nav-item-icon"></span>
                        <span>Patient List</span>
                    </div>
                </a>
                <a href="/schedule/">
                    <div class="nav-item on-focus">
                        <span class="fa fa-calendar nav-item-icon on-focus"></span>
                        <span>Schedule</span>
                    </div>
                </a>
                <a href="/reading/">
                    <div class="nav-item">
                        <span class="fa fa-line-chart nav-item-icon"></span>
                        <span>Readings</span>
                    </div>
                </a>
                <a href="/notification/add-notification">
                    <div class="nav-item">
                        <span class="fa fa-map-pin nav-item-icon"></span>
                        <span>Patient Notice</span>
                    </div>
                </a>
                <div class="nav-title">
                    <span>GENERAL</span>
                </div>
                <a href="/notification/">
                    <div class="nav-item">
                        <span class="fa fa-pencil-square-o nav-item-icon"></span>
                        <span>Notice Board</span>
                    </div>
                </a>
                <a href="/">
                    <div class="nav-item">
                        <span class="fa fa-sign-out nav-item-icon"></span>
                        <span>Logout</span>
                    </div>
                </a>
            </div>
        </nav>
    </div>
    <!--end of left-side navigation bar-->

    <div class="col-md-9">
        <!--selectbox of patients-->
        <div class="main-content select-box">
            <select onchange="location.href = this.options[this.selectedIndex].value">
                <option th:each="patient:${patients}" th:text="${patient.firstName + ' ' + patient.lastName}"
                        th:value="${+patient.patientId}"></option>
            </select>
        </div>
        <!--end of selectbox of patients-->
        <!--empty box to remind the doctor of selecting a patient-->
        <div class="main-content main-content-associate" th:unless = ${selectedPatient}>
            <div>
                <span>Please Select A Patient To View His Schedule</span>
            </div>
        </div>
        <!--end of empty box-->
        <!--information of patient's schedule-->
        <div class="main-content main-content-associate" th:if = ${selectedPatient}>
            <div class="main-content-title main-content-title-associate">
                <span class="fa fa-star"></span>
                <span>BIO</span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="BIO-content">
                        <div class="BIO-content-text BIO-content-text-1">
                            <div class="BIO-content-title">
                                <span>REGISTRATION</span>
                            </div>
                            <div class="BIO-content-description">
                                <span th:text=${selectedPatient.patientId}></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="BIO-content">
                        <div class="BIO-content-text BIO-content-text-2">
                            <div class="BIO-content-title">
                                <span>NAME</span>
                            </div>
                            <div class="BIO-content-description">
                                <span th:text="${selectedPatient.firstName + ' ' + selectedPatient.lastName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="BIO-content">
                        <div class="BIO-content-text BIO-content-text-3">
                            <div class="BIO-content-title">
                                <span>CURRENTLY</span>
                            </div>
                            <div class="BIO-content-description">
                                <span th:text="${selectedPatient.schedule+' '+'readings/Day'}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of information of patient's schedule-->
        <!--change schedule form-->
        <div class="main-content main-content-associate" th:if = ${selectedPatient}>
            <div class="main-content-title">
                <span CLASS="fa fa-calendar-minus-o"></span>
                <span>CHANGE SCHEDULE</span>
            </div>
            <form th:object = "${selectedPatient}" th:action="@{'/schedule/editSchedule/'+${selectedPatientId}}" method="post">
                <div class="main-content-form">
                    <div class="form-input-box">
                        <p class="input-label">
                            Enter Reading Per Day
                        </p>
                        <input type="text" name="schedule" oninput="value=value.replace(/[^\d]/g,'')" maxlength="2"
                               required oninvalid="setCustomValidity('This field is required.');"
                               οninput="setCustomValidity('');" placeholder="Please enter a number">
                    </div>
                    <input type="submit" value="Update">
                    <input class="form-associate-button" type="button" value="Cancel">
                </div>
            </form>
        </div>
        <!--end of change schedule form-->
    </div>
</div>
</body>
</html>