<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--</head>-->
<!--<body>-->
<!--<div id="container" style="height: 300px"></div>-->
<!--&lt;!&ndash;<script type="text/javascript" src="../static/js/echarts.min.js"></script>&ndash;&gt;-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>-->

<!--<script src="../static/js/jquery-3.3.1.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/testReading.js"></script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECharts</title>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 新建productName与nums数组来接受数据，因为我们
    var datetime = [];
    var pulse = [];

    //AJAX接收数据主体
    $.ajax({
        type:"GET",
        url:"http://localhost:8080/reading/pulse/10",
        dataType:"json",
        async:false,
        success:function (result) {
            for (var i = 0; i < result.length; i++){
                datetime.push(result[i].datetime);
                pulse.push(result[i].pulse);
            }
        },
        error :function(errorMsg) {
            alert("failed！");
        }
    });

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'Pulse',
            left: '1%'
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '5%',
            right: '15%',
            bottom: '10%'
        },
        xAxis: {
            data: datetime
        },
        yAxis: {},
        toolbox: {
            right: 10,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                restore: {},
                saveAsImage: {}
            }
        },
        dataZoom: [{
            startValue: '2021-03-15T04:00:00.000+0000'
        }, {
            type: 'inside'
        }],
        visualMap: {
            top: 50,
            right: 10,
            pieces: [{
                gt: 0,
                lte: 60,
                color: '#FD0100'
            }, {
                gt: 60,
                lte: 100,
                color: '#93CE07'
            }, {
                gt: 100,
                color: '#FD0100'
            }],
            outOfRange: {
                color: '#999'
            }
        },
        series: {
            name: 'Pulse',
            type: 'line',
            data: pulse,
            markLine: {
                silent: true,
                lineStyle: {
                    color: '#333'
                },
                data: [{
                    yAxis: 60
                }, {
                    yAxis: 100
                }]
            }
        }
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>

